div.container {
    margin: 25px;
}

div.show > div {
    background-color: #FFF0E0;
}

div.show > div > div {
    float: left;
    background-color: #FF9933;
    text-align: center;
}

.rsl {
    font-size: 20px;
}

.cw {
    color: #FFFFFF;
}

.cw > h {
    font-size:17px;
}